body{
    background-color: #2C2B2B;
    color: white;
    font-family: sans-serif;
    margin-bottom: 2%;
}

.segundofundo{
    background: #FFFFFF;
    border-radius: 30px;
    opacity: 1;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 20px;
    padding-bottom: 35px;
}

input{
    cursor: pointer;
    margin-right: 40px;
    appearance: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    outline: none;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

input:before{
    content: '';
    position: absolute;
    height: 17.5px;
    width: 17.5px;
    background: black;
    border-radius: 50%;
    opacity: 0;
    transition: all 600ms ease-in-out;
}

input:checked::before{
    opacity: 1;
}

.NomeDoSite{
    padding-left: 10%;
}

.TituloCadastro{
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}

.Escolha {
    color: black;
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
}

.Conteudo{
    color: black;
    display: flex;
    align-items: center;
    margin-left: 37%;
    margin-top: auto;
    padding-right: 100px;
}

.email{
    color: black;
    margin-left: 310px;
    font-size: 2.0rem;
    margin-top: 60px;
}

.borda1{
    font-size: 20px;
    padding-left: 30px;
    margin-left: 470px;
    border: 5px solid #000000;
    box-sizing: border-box;
    border-radius: 50px;
    margin-bottom: 30px;
    align-items: center;
    position: absolute;
    width: 400px;
    height: 60px;
    top: 440px;
    cursor: pointer;
}

.senha{
    color: black;
    margin-left: 298px;
    font-size: 2.0rem;
    margin-top: 45px;
}

.borda2{
    font-size: 20px;
    padding-left: 30px;
    margin-left: 470px;
    border: 5px solid #000000;
    box-sizing: border-box;
    border-radius: 50px;
    margin-bottom: 30px;
    align-items: center;
    position: absolute;
    width: 400px;
    height: 60px;
    top: 528px;
    cursor: pointer;
}

.Requisito{
    color: black;
    margin-left: 890px;
    margin-top: -4.7rem;
}

.ConfirmaSenha{
    color: black;
    margin-left: 122px;
    font-size: 2.0rem;
    margin-top: 45px;
}

.borda3{
    font-size: 20px;
    padding-left: 30px;
    margin-left: 470px;
    border: 5px solid #000000;
    box-sizing: border-box;
    border-radius: 50px;
    margin-bottom: 30px;
    align-items: center;
    position: absolute;
    width: 400px;
    height: 60px;
    top: 615px;
    cursor: pointer;
}

.Nome{
    color: black;
    margin-left: 305px;
    font-size: 2.0rem;
    margin-top: 45px;
}

.borda4{
    font-size: 20px;
    padding-left: 30px;
    margin-left: 470px;
    border: 5px solid #000000;
    box-sizing: border-box;
    border-radius: 50px;
    margin-bottom: 30px;
    align-items: center;
    position: absolute;
    width: 400px;
    height: 60px;
    top: 699px;
    cursor: pointer;
}

.Sobrenome{
    color: black;
    margin-left: 203px;
    font-size: 2.0rem;
    margin-top: 45px;
}

.borda5{
    font-size: 20px;
    padding-left: 30px;
    margin-left: 470px;
    border: 5px solid #000000;
    box-sizing: border-box;
    border-radius: 50px;
    margin-bottom: 30px;
    align-items: center;
    position: absolute;
    width: 400px;
    height: 60px;
    top: 790px;
    cursor: pointer;
}

.Cidade{
    color: black;
    margin-left: 285px;
    font-size: 2.0rem;
    margin-top: 45px;
}   

.borda6{
    font-size: 20px;
    padding-left: 30px;
    margin-left: 470px;
    border: 5px solid #000000;
    box-sizing: border-box;
    border-radius: 50px;
    margin-bottom: 30px;
    align-items: center;
    position: absolute;
    width: 400px;
    height: 60px;
    top: 876px;
    cursor: pointer;
}

.Estado{
    color: black;
    margin-left: 285px;
    font-size: 2.0rem;
    margin-top: 45px;
}   

.borda7{
    font-size: 20px;
    padding-left: 30px;
    margin-left: 470px;
    border: 5px solid #000000;
    box-sizing: border-box;
    border-radius: 50px;
    margin-bottom: 30px;
    align-items: center;
    position: absolute;
    width: 400px;
    height: 60px;
    top: 965px;
    cursor: pointer;
}

.Gênero{
    color: black;
    margin-left: 278px;
    font-size: 2.0rem;
    margin-top: 45px;
}

.Content{
    color: black; 
    display: flex;
    align-items: center;
    margin-left: 40%;
    margin-top: -88px;
    padding-right: 100px;
}

label{
    font-size: 25px;
    cursor: pointer;
}

button{
    margin-left:200px;
    position: center;
    border-radius: 50px;
    width: 260px;
    height: 60px;
    border: 3px solid #000000;
    font-size: 25px;
    cursor: pointer;
}

button[type=submit]:hover{
    background-color: #2C2B2B;
}